<template>
  <div
    class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 place-content-center gap-9 pl-9 pr-9"
  >
    <div v-for="(item, index) in response.results" :key="index" class="mt-12">
      <Item :data="item" />
    </div>
  </div>
</template>

<script>
export default {
  async mounted() {
    this.response = await this.getPlace(this.keyword);
  },    
  data() {
    const keyword = useKeyword(); // useKeyword is a custom hook
    return {
      keyword,
      response: [],
    };
  },
  methods: {
    async getPlace(keyword) { // fetch data from api function server/api/place.js
      return (await fetch(`/api/place?keyword=${keyword}`)).json();
    },
  },
  watch: {
    async keyword(newValue, _) { // watch for changes in keyword
      this.response = await this.getPlace(newValue);
    },
  },
};
</script>
