
<template>
         
    <Navbar /> <!-- // Navbar component -->
    <nav class="bg-gray-50 dark:bg-gray-700">
        <div class="max-w-screen-xl px-4 py-3 mx-auto">
            <SearchInput />  <!-- // SearchInput component -->
        </div>
    </nav>
    <List /> <!-- // List item component -->
</template>
  